{% extends "lotteries/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>Lottery! Woo!</h1>

<h2>Last 7 Days</h2>
{% for win in wins_7 %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

<h2>Last 30 Days</h2>
{% for win in wins_30 %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

<h2>Entire Period</h2>

<p>I need to figure out how to mark period endings. It might actually be as easy as using a query and
    getting everything after an end date</p>

<h2>All time win data</h2>
{% for win in wins_all %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

</body>
</html>

{% endblock content %}