{% extends "lotteries/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>Lottery! Woo!</h1>

<h2>Last 7 Days</h2>
{% for win in wins_7 %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

<h2>Last 30 Days</h2>
{% for win in wins_30 %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

<h2>Current Period</h2>

{% for win in wins_period %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

<h2>All Time Wins</h2>
{% for win in wins_all %}
<p>{{ win.player_name }} - {{ win.win__player__count }}</p>
{% endfor %}

</body>
</html>

{% endblock content %}